.alert-floating {
  position: fixed;
  top: 1%;
  right: 13%;
  z-index: 9999;
  min-width: 320px;
  max-width: 640px;
}

/* For tablet devices */
@media only screen and (max-width: 1024px) {
  .alert-floating {
    top: 1% !important;
    right: 3% !important;
  }
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
  .alert-floating {
    top: 1.3% !important;
    right: 5% !important;
    max-width: 320px !important;
  }
}